.UserCard{
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 148px;
    max-width: calc(50% - 10px);
    height: 150px;
    -webkit-box-shadow: 0 2px 25px rgb(90 105 135 / 13%);
    box-shadow: 0 2px 25px rgb(90 105 135 / 13%);
    border-radius: 5px;
}